.my-fonts {
    font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url(../images/Sky.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#idioma {
    top: 0;
    left: 10%;
    position: fixed;
    z-index: 999;
    width: 80%;
    height: 30px;
    background-color: #202020;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: right;
    align-items: center;
}

#icon {
    align-items: end;
    margin-right: .5rem;
    text-decoration: none;
}

#flag {
    padding: .4rem
}

#icon2 {
    display: none;
}

a {
    color: #202020;
    text-decoration: none;
    font-size: 2vmin;
    line-height: 50%;
}

a:hover {
    color: #858585;
}

#logo {
    width: 8rem;
}

#logop {
    width: 3rem;
    display: none;
}

#header {
    position: fixed;
    top: 30px;
    left: 10%;
    width: 80%;
    height: 80px;
    z-index: 999;
    box-sizing: border-box;
    background-color: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a {
    font-size: medium;
    display: block;
    padding: .5rem;
}

#btn-mobile {
    display: none;

}


#social {
    width: 80%;
    height: 200px;
    background-color: #626161;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    right: 0;
}

#iconbuy {
    width: 4rem;
}

#store a {
    text-decoration: none;
}

#icondown {
    margin-right: 1rem;
}

#icondown a {
    padding: .1rem;
    text-decoration: none;
}

#insta {
    width: 2rem;
    padding: .1rem;
}

#logofume {
    width: 7rem;
}

#footer {
    width: 80%;
    height: 50px;
    background-color: #202020;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
}

#body {
    width: 80%;
    margin-left: 10%;
    margin-top: -10px;
    background-color: #e0dfdf;
}

.heli h2 {
    color: #057ecf;
}

.heli h4 {
    color: #202020;
}

.heli h2 {
    color: #057ecf;
}

.heli h4 {
    color: #202020;
}

.heli {
    width: 100%;
    height: 20vh;
    margin: 10px auto;
    margin-top: 20px;
    background-image: url(../images/Helicoptero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 30px;
    border-radius: 5px;
}

.heli h4, .heli h2 {    
    margin-left: 20px;
}

#accordion {
    margin-top: 100px;
    width: 60%;
    margin-left: 20%;
}

#links {text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#flush-collapseFour a, 
#flush-collapseThree a, 
#flush-collapseTwo a, 
#flush-collapseOne a {
    color: #05a8f3;
    font-size: medium;
}

#cameras {text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

#videos {
    width: 60%;
    margin-left: 30%;
    margin-top: 50px;
    margin-bottom: 100px;
}

#aeroporto {
    margin-left: 40%;
}

@media (max-width: 780px) {
    #logo {
        display: none;
    }
    #logop {
        display: block;
    }
    #icon2 {
        display: block;
    }
    #header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 999;
        box-sizing: border-box;
        height: 50px;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #btn-mobile {
        display: block;
    }
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 50px;
        right: 0px;
        background-color: #fff;
        transition: .6s;
        z-index: 1000;
        height: auto;
        max-height: calc(100vh - 50px);
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu {
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        color: #202020;
        font-size: medium;
        padding: 1rem 0;
        margin: 0px 1rem;
        border-bottom: 2px solid #d6d4d4;
    }
    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburger {
        display: block;
        border-top: 2px solid;
        width: 20px;
    }
    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburger {
        border-top-color: transparent;
    }
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
    #social {
        width: 100%;
        height: 150px;
        background-color: #626161;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }   
    #logoescuro {
        display: none;
    }
    #store {
        margin-left: 1rem;
    }    
    #store a {
        text-decoration: none;
    }   
    #iconbuy {
        width: 4rem;
    }
    #icondown {
        margin-right: 1.3rem;
    }    
    #icondown a {
        text-decoration: none;
    }    
    #insta {
        width: 2rem;
        margin-left: .1rem;
    }
    #footer {
        width: 100%;
        height: 30px;
        background-color: #202020;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        right: 0;
    }  
    #copyicarus {
        text-decoration: none;
        color: #adacac;
        font-size: smaller;
    }
    #body {
        margin-top: -70px;
    }
    .hel h2 {
        color: #057ecf;
    }    
    .heli h4 {
        color: #202020;
    }
    .heli h4, .heli h2 {
        font-size: 1.2rem;
        margin-left: 10px;
    }
    #accordionFlushExample {
        font-size: small;
    }
    #accordion {
        font-size: small;
        margin-right: auto;
        margin-left: auto;
        width: 90%;
        text-align: start;
        margin-top: 50px;
        margin-bottom: 50px;
    }    
    #flush-collapseFour a, 
    #flush-collapseThree a, 
    #flush-collapseTwo a, 
    #flush-collapseOne a {
        color: #05a8f3;
        font-size: small;
    }
    #cameras {
        font-size: large;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    #videos {
        width: 100%;
        margin-left: 17%;
        margin-top: 20px;
        margin-bottom: 50px;
    }
}